In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd

df = pd.read_csv("/content/drive/My Drive/SeagateModel.csv")

In [0]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_5_raw,smart_10_raw,smart_12_raw,smart_184_raw,smart_187_raw,smart_188_raw,smart_189_raw,smart_190_raw,smart_196_raw,smart_197_raw,smart_198_raw,smart_199_raw,smart_200_raw,smart_201_raw
0,2018-01-01,Z305B2QN,ST4000DM000,4000787030016,0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,23.0,NaN,0.0,0.0,0.0,NaN,NaN
1,2018-01-01,Z305DEMG,ST4000DM000,4000787030016,0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,26.0,NaN,0.0,0.0,0.0,NaN,NaN
2,2018-01-01,Z3023VGH,ST4000DM000,4000787030016,0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,29.0,NaN,0.0,0.0,0.0,NaN,NaN
3,2018-01-01,Z305DEMX,ST4000DM000,4000787030016,0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,28.0,NaN,0.0,0.0,0.0,NaN,NaN
4,2018-01-01,Z306WYZZ,ST4000DM000,4000787030016,0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,22.0,NaN,0.0,0.0,0.0,NaN,NaN

In [0]:
del [df["smart_5_raw"], df["smart_10_raw"], df["smart_184_raw"], df["smart_187_raw"], df["smart_188_raw"], df["smart_190_raw"], df["smart_189_raw"], df["smart_197_raw"], df["smart_200_raw"]]

In [0]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_12_raw,smart_196_raw,smart_198_raw,smart_199_raw,smart_201_raw
0,2018-01-01,Z305B2QN,ST4000DM000,4000787030016,0,10.0,NaN,0.0,0.0,NaN
1,2018-01-01,Z305DEMG,ST4000DM000,4000787030016,0,3.0,NaN,0.0,0.0,NaN
2,2018-01-01,Z3023VGH,ST4000DM000,4000787030016,0,15.0,NaN,0.0,0.0,NaN
3,2018-01-01,Z305DEMX,ST4000DM000,4000787030016,0,7.0,NaN,0.0,0.0,NaN
4,2018-01-01,Z306WYZZ,ST4000DM000,4000787030016,0,5.0,NaN,0.0,0.0,NaN

# Getting time to end

In [0]:
df['date'] =  pd.to_datetime(df['date'])

In [0]:
df_fails = df[df["failure"]==1]

#Serial Numbers of Failed Drives
serial_withFailure = df_fails["serial_number"]

#Putting it into a list
failure_list = list(serial_withFailure)

#Getting all rows for serial numbers which eventually fail
sure_failure = df[df["serial_number"].isin(failure_list)]

In [0]:
sure_failure.serial_number.nunique()

581

In [0]:
#Pick the Most Recent date (which is failure day)
sure_failure["end_date"] = sure_failure.groupby("serial_number")["date"].transform("max")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
df = df.join(sure_failure["end_date"])

In [0]:
df.sample(5)

,date,serial_number,model,capacity_bytes,failure,smart_12_raw,smart_196_raw,smart_198_raw,smart_199_raw,smart_201_raw,end_date
1435832,2018-02-15,Z302SXPW,ST4000DM000,4000787030016,0,9.0,NaN,0.0,0.0,NaN,NaT
9941095,2018-12-29,S300XAJW,ST4000DM000,4000787030016,0,0.0,0.0,18.0,0.0,129503.0,NaT
1374020,2018-02-13,Z300XEM8,ST4000DM000,4000787030016,0,20.0,NaN,0.0,0.0,NaN,NaT
2693347,2018-03-27,Z305AQME,ST4000DM000,4000787030016,0,8.0,NaN,0.0,0.0,NaN,NaT
3312236,2018-04-17,Z305D4PV,ST4000DM000,4000787030016,0,9.0,29.0,NaN,0.0,0.0,NaT

In [0]:
df["time_to_end"] = df["end_date"].sub(df["date"], axis=0)

In [0]:
df["time_to_end"].describe()

count                       97236
mean     117 days 09:21:14.639022
std       84 days 02:39:30.036535
min               0 days 00:00:00
25%              46 days 00:00:00
50%             104 days 00:00:00
75%             175 days 00:00:00
max             363 days 00:00:00
Name: time_to_end, dtype: object

In [0]:
df.dtypes

date               datetime64[ns]
serial_number              object
model                      object
capacity_bytes              int64
failure                     int64
smart_12_raw              float64
smart_196_raw             float64
smart_198_raw             float64
smart_199_raw             float64
smart_201_raw             float64
end_date           datetime64[ns]
time_to_end       timedelta64[ns]
dtype: object

In [0]:
df.time_to_end = df.time_to_end.dt.days

In [0]:
df.dtypes

date              datetime64[ns]
serial_number             object
model                     object
capacity_bytes             int64
failure                    int64
smart_12_raw             float64
smart_196_raw            float64
smart_198_raw            float64
smart_199_raw            float64
smart_201_raw            float64
end_date          datetime64[ns]
time_to_end              float64
dtype: object

In [0]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_12_raw,smart_196_raw,smart_198_raw,smart_199_raw,smart_201_raw,end_date,time_to_end
0,2018-01-01,Z305B2QN,ST4000DM000,4000787030016,0,10.0,NaN,0.0,0.0,NaN,NaT,NaN
1,2018-01-01,Z305DEMG,ST4000DM000,4000787030016,0,3.0,NaN,0.0,0.0,NaN,NaT,NaN
2,2018-01-01,Z3023VGH,ST4000DM000,4000787030016,0,15.0,NaN,0.0,0.0,NaN,NaT,NaN
3,2018-01-01,Z305DEMX,ST4000DM000,4000787030016,0,7.0,NaN,0.0,0.0,NaN,NaT,NaN
4,2018-01-01,Z306WYZZ,ST4000DM000,4000787030016,0,5.0,NaN,0.0,0.0,NaN,NaT,NaN

In [0]:
import numpy as np
df["new_failure"] = np.where(df["time_to_end"]<45, 1, 0)

In [0]:
df.shape

(9992362, 13)

In [0]:
df["new_failure"].isnull().any()

False

In [0]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_12_raw,smart_196_raw,smart_198_raw,smart_199_raw,smart_201_raw,end_date,time_to_end,new_failure
0,2018-01-01,Z305B2QN,ST4000DM000,4000787030016,0,10.0,NaN,0.0,0.0,NaN,NaT,NaN,0
1,2018-01-01,Z305DEMG,ST4000DM000,4000787030016,0,3.0,NaN,0.0,0.0,NaN,NaT,NaN,0
2,2018-01-01,Z3023VGH,ST4000DM000,4000787030016,0,15.0,NaN,0.0,0.0,NaN,NaT,NaN,0
3,2018-01-01,Z305DEMX,ST4000DM000,4000787030016,0,7.0,NaN,0.0,0.0,NaN,NaT,NaN,0
4,2018-01-01,Z306WYZZ,ST4000DM000,4000787030016,0,5.0,NaN,0.0,0.0,NaN,NaT,NaN,0

# Remove nulls for Smart 196 and 198

In [0]:
df = df[np.isfinite(df['smart_196_raw'])]

In [0]:

df.new_failure.value_counts()

0    7152875
1      17060
Name: new_failure, dtype: int64

In [0]:
df.isnull().sum()

date                    0
serial_number           0
model                   0
capacity_bytes          0
failure                 0
smart_12_raw            0
smart_196_raw           0
smart_198_raw     5013239
smart_199_raw           0
smart_201_raw           0
end_date          7115774
time_to_end       7115774
new_failure             0
dtype: int64

In [0]:
df = df[np.isfinite(df['smart_198_raw'])]

In [0]:
df.new_failure.value_counts()

0    2152752
1       3944
Name: new_failure, dtype: int64

In [0]:
del [df["time_to_end"], df["end_date"]]

In [0]:
df.isnull().sum()

date              0
serial_number     0
model             0
capacity_bytes    0
failure           0
smart_12_raw      0
smart_196_raw     0
smart_198_raw     0
smart_199_raw     0
smart_201_raw     0
new_failure       0
dtype: int64

In [0]:
del df["failure"]

In [0]:
df.sample(10)

,date,serial_number,model,capacity_bytes,smart_12_raw,smart_196_raw,smart_198_raw,smart_199_raw,smart_201_raw,new_failure
8462868,2018-10-27,Z302BVBH,ST4000DM000,4000787030016,6.0,0.0,22.0,0.0,40260.0,0
7975683,2018-10-06,Z300ZV0R,ST4000DM000,4000787030016,15.0,0.0,24.0,0.0,72028.0,0
9058477,2018-11-22,Z305G50R,ST4000DM000,4000787030016,6.0,0.0,21.0,0.0,55037.0,0
9427533,2018-12-07,Z304YS17,ST4000DM000,4000787030016,13.0,0.0,28.0,0.0,8705.0,0
7898875,2018-10-03,Z3059HNS,ST4000DM000,4000787030016,5.0,0.0,19.0,0.0,5765.0,0
8163565,2018-10-14,Z305GX4R,ST4000DM000,4000787030016,2.0,0.0,21.0,0.0,2843.0,0
9735464,2018-12-20,W30199VK,ST4000DM000,4000787030016,28.0,0.0,26.0,0.0,54579.0,0
9824995,2018-12-24,Z302G5CC,ST4000DM000,4000787030016,12.0,0.0,17.0,0.0,54465.0,0
9437998,2018-12-08,Z302EQNX,ST4000DM000,4000787030016,12.0,0.0,16.0,0.0,56756.0,0
8748271,2018-11-08,S300Z5CH,ST4000DM000,4000787030016,5.0,0.0,22.0,0.0,40513.0,0

# Save dataframe

In [0]:
df.to_csv("/content/drive/My Drive/Latest.csv", index=None, header=True)